<%- include('partials/header') %>
<section class="section-post font-m">
    <h2 class="pl-4 heading-Secoundry text-left pb-5"><%=campground.name%></h2>
    <img src="<%=campground.image %>" alt="" class="blog-img w-100">
    <p class="py-5 "><%=campground.description%></p>
    <div class="p-4 w-100 d-inline-block border border-left-0 border-right-0 border-bottom-0">
        <div class="float-left">
            <a href="#" class="btn-comment">Comments</a>
        </div>
        <div class=" float-right">
            <a href="" class=" p-3">
                <svg class="icon-facebook-1" >
                    <use xlink:href="../css/img/icons-1.svg#icon-facebook" ></use>
                </svg>
            </a>
            <a href="" class=" p-3">
                <svg class="icon-twitter-1" >
                    <use xlink:href="../css/img/icons-1.svg#icon-twitter" ></use>
                </svg>
            </a>
            <a href="" class="p-3">
                <svg class="icon-instagram-1" >
                    <use xlink:href="../css/img/icons-1.svg#icon-instagram" ></use>
                </svg>
            </a>
        </div>

    </div>
    
    <div class="pt-4 border border-left-0 border-right-0 border-bottom-0 ">
        <span class="float-left text-grey views-div"><%=campground.views%> Views</span>
        <input type="checkbox" name="check-heart" id="check-heart">
        <label for="check-heart" class="float-right text-grey heart my-1">
            <%=campground.hearts%>             
                <svg class="icon-heart-filled" >
                    <use xlink:href="../css/img/icon-2.svg#icon-heart"></use>
                </svg>             
        </label >
    </div>
    <div class=" drop-blog-1">
        <button type="button " class="p-3 btn" data-toggle="dropdown">
            <svg class="icon-dehaze" >
                <use xlink:href="../css/img/icon-2.svg#icon-dehaze" ></use>
            </svg>
        </button>    
        <div class="dropdown-menu font-m text-center">
            <a href="/campground/<%= campground._id %>/edit" class="btn dropdown-item py-2">Edit Blog</a>
            <form  class="dropdown-item " action="/campground/<%= campground._id %>?_method=DELETE" method="POST">
                <button class="btn">Delete</button>
            </form>
        </div>
    </div>
</section>

<script>
    const dis_tabs = document.querySelector('.views-div');
    
    console.log(x);
    dis_tabs.innerHTML= x + "Views";
</script>
<%- include('partials/footer') %>
